doctype html
html(lang="en")
    head
        title Comella Santa
        style
            include index.css
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap" rel="stylesheet">
    body
        div.container#logo
            span.title Comella Secret Santa
        div.container#people
            button.person Mom
            button.person Dad
            button.person Matt
            button.person Derek
            button.person Sarah
        div.container#ready
            input(type="button")#btn-ready
            input(type="button")#btn-cancel
        div.container#result
            span.person Placeholder
